
<div class='main_food_div'>
<h1>Shoppin list</h1>
<div class = 'amount_value_div'>
<h3>Amount of food items to buy: <%= @quantity %></h3>
<h3>Total value of food needed:<%= number_to_currency(@total_amount) %></h3>
</div>

<table class="table custom-table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>