<div class='main_food_div'>
<h1>Your Foods</h1>

<%= link_to 'Add Food', new_food_path, class: 'add_food' %>

<table class="table custom-table"
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= number_to_currency(food.price) %></td>
        <td class="btn-cell">
          <%= link_to 'Delete', food_path(food), data: {turbo_method: :delete}, class: 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>