<div class='main_food_div'>
<h1>Your Foods</h1>

<%= link_to 'Add Food', new_food_path, class: 'add_food' %>

<table class="table custom-table"
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr class="border border-black">
        <td class="border  border-black p-1"><%= food.name %></td>
        <td class="border  border-black p-1"><%= food.measurement_unit %></td>
        <td class="border  border-black p-1"><%= food.quantity %></td>
        <td class="border  border-black p-1">$<%= food.price %></td>
        <td class="border  border-black p-1">
          <% if  food %>
            <%= button_to 'Delete', food_path(food.id), method: :delete, class: 'btn btn-outline-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>